.time {
	font-weight: 700;
	color: rgb(8, 171, 8);
}
.dividera:after {
	position: relative;
	top: 2px;
	border: 2px solid rgb(222, 49, 49);
}
.line-container {
	display: flex;
	align-items: center;
}
.line {
	flex-grow: 1;
	height: 1px;
	background-color: #0abd22;
	margin: 0 9px;
}
.line-text {
	margin-top: 25px;
	color: #0481b7;
}
.form-control-due-data {
	display: grid;
	grid-template-columns: 150px 1fr;
	align-items: center;
	justify-items: start;
	gap: 0 1rem;
	margin-bottom: 0.75rem;
}
@media screen and (max-width: 344px) {
	.single-task-form.name-row label,
	.single-task-form.name-row input {
		background-color: red;
	}
	.task-edit-name {
		margin: 0px -70px;
	}
	.task-edit-id {
		margin: 0px -40px;
	}
	.single-task-form > .name-row input {
		width: 120px;
	}
	.due-date-display {
		margin: 0px -50px;
	}
	.line-text {
		
		font-size: 18px;
		color: #0481b7;
	}
}
@media screen and (max-width: 570px) {
	.form-control-due-data {
		display: block;
		font-size: 15px;
	}
	

}
